{% extends "base.html" %}

{% block content %}
    <div class="title_box"> 
        <div>Activities
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            NEW NEW NEW
        </div>
        <div class="box1-content">
            Bisher gibt es keine neuen Activities
        </div>
    </div> 
    <div class="box2"> 
        <div class="box2-title">
            Info - Food
        </div>
        <div class="box2-content">
            Wir haben wie in den letzten Jahren 
            auch wieder Kühlschränke, der platz ist aber 
            wie immer first come first serve.
        </div>
    </div> 
    
{% endblock %}