{% extends "base.html" %}

{% block content %}
    <div class="title_box"> 
        <div>Archiv
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            2020
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>    
    <div class="box1"> 
        <div class="box1-title">
            2019
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            2018
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>      
    
{% endblock %}