{% extends "base.html" %}

{% block content %}
    <div class="title_box"> 
        <div>Bar
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            Getränkeliste
        </div>
        <div class="drink-list">
            Bier - X EUR </br>
            Aperol Spritz - X EUR </br>
            Gin Tonic - X EUR
        </div>
    </div> 
    <div class="box1"> 
        <div class="box1-title">
            Specials
        </div>
        <div class="box1-content">
            Freitag und Samstag Asbach Hour!
        </div>
    </div>   
    
{% endblock %}