{% extends "base.html" %}

{% block content %}
    <div class="home-title-box"> 
        <div class="date1"> 5 - 8 August
                </div>
        <div class="home-title-flex">
            <div class="soonw-festiv">
                Soonwald Festival
            </div>

            <div class="date2">
                2021
            </div>
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            2020
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>    
    <div class="box1"> 
        <div class="box1-title">
            2019
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            2018
        </div>
        <div class="box1-content">
            Infos zum Jahr
        </div>
    </div>      
    
{% endblock %}