{% extends "base.html" %}

{% block content %}
    <div class="title_box"> 
        <div>Merch
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            NEW Merch
        </div>
        <div class="box1-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div>    
    <div class="box1"> 
        <div class="box1-title">
            NEW Merch
        </div>
        <div class="box1-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            NEW Merch
        </div>
        <div class="box1-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div>  
    
{% endblock %}