{% extends "base.html" %}

{% block content %}
    <div class="title_box"> 
        <div>Timetable
        </div>
    </div>  
    <div class="box1"> 
        <div class="box1-title">
            Donnerstag
        </div>
        <div class="box1-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div>
    <div class="box2"> 
        <div class="box2-title">
            Freitag
        </div>
        <div class="box2-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div> 
    <div class="box1"> 
        <div class="box1-title">
            Samstag
        </div>
        <div class="box1-content">
            Wir haben derzeit noch kein neunen Merch, 
            aber meld dich doch hier für
            den Newsletter an: Newsletter
        </div>
    </div>
    
{% endblock %}