body {
    font-family: 'Space Mono', monospace;
    background-color: #D8DCFF;
    font-size: 100%; /* equivalent to 16px */
    min-height: 100vh;
}


/* HEADER */
header a{
    text-decoration: none !important;
    color: white;
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    margin-left: -1vw;
    margin-right: -1rvw;
    padding-bottom: 3vh;
    padding-top: 2vh;
    text-align: center;
    color: white;
}


/* Top Bar (Banner) */
.banner {
    display: flex;
    color: white;
    background-color: #ACBA99;
    margin-left: -1vw;
    margin-top: -1vh;
    margin-right: -1vw;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    padding-top: 0.5vh;
    padding-right: 1vw;
}

/* Soonwald Logo in Banner*/
.banner-logo-soon {


    font-size: 100px;
    line-height: 0.8;
    height: 8vh;

    margin-top: 1vh;
    margin-left: 0;
    margin-right: 0;

    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 0;
}
.banner-logo-wald {
    transform: rotate(270deg);
    font-size: 65px;
    color: #6B9C7F;

    margin-top: 1vh;
    margin-left: -7vw;
    margin-right: 0;

    padding-bottom: 0;
    padding-right: 0;
}


/* Background Circles */
.background {
    position: absolute;
}


.background-circle {
    height: 55vw;
    width: 55vw;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: -2;

    animation-name: background-circle-animation;
    animation-duration: 40s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes background-circle-animation {
    0% {
        transform: scale(1) translate(0, 0);
    }

    80% {
        transform: scale(1.2) translate(0, 10vh);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

.background-circle-1 {
    background-color: #6B9C7F;
    top: 10vh;
    }
.background-circle-2 {
    background-color: #6B9C7F;
    }
.background-circle-3 {
    background-color: #ACBA99;
    }


#main {
    display: flex;
    flex-wrap: wrap;
    background-color: none;
    margin-left: -1rem;
    margin-right: -1rem;
}

/* Title Box for every page */
.title_box {
    width: 90vw;
    margin-top: 4vh;
    margin-left: 5vw;
    margin-right: 6vw;
    margin-bottom: 2vh;
    padding-top: -2vh;
    padding-bottom: 0vh;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEDCB;
    border-style: solid;
    border-width: 1vw;
    border-color: #6B9C7F;
    font-size: 100px;

}


/* Box Type 1 (Dark green) */
.box1 {
    width: 90vw;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 6vw;
    padding-left: 0vw;
    padding-right: auto;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEDCB;
    border-style: solid;
    border-width: 1vw;
    border-color: #6B9C7F;

}
.box1-title {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: -10;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    margin-left: 0;
    padding-top: auto;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 2vw;
    flex-direction: row;
    justify-content: center;
    background-color: #6B9C7F;
    color: white;

}
.box1-content {
    margin: 1vw 2vw;
    line-height: 1.3;
    font-size: 25px;

}


/* BOX Type 2 (Light Green) */
.box2 {
    width: 90vw;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 6vw;
    padding-left: 0vw;
    padding-right: auto;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEDCB;
    border-style: solid;
    border-width: 1vw;
    border-color: #ACBA99;

}
.box2-title {
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 0vh;
    background-color: #ACBA99;
    padding-left: 8px;
    padding-right: 2vw;    
    padding-bottom: 5px;
    background-color: none;
    color: white;

}
.box2-content {
    padding-top: 5vh;
    margin: 1vw 2vw;
    line-height: 1.3;
    font-size: 25px;

}


/* Navigation Menu */
  .banner #logout-button {
      font-size: 60px;
      position: relative;
      color: white;
      display: none;

      margin-left: 8rem;

      margin-top: 1.5rem;
  }
  /* hide the Menu */
  .nav #menu {
    font-weight: bold;
    padding-top: 2.5rem;
    display: none;
    background-color: #ACBA99;
  }
  /* Style hamburger menu */
  .banner a.icon {
    display: block;
    position: absolute;
    right: 5vw;
    top: 0.5rem;
    font-size: 120px;
    color: #FFEDCB;
  }
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    display: block;
    background-color: #6B9C7F;

    margin-left: 2vw;
    padding-left: 4vw;

    margin-top: 2vh;
    padding-top: 1vh;

    margin-bottom: 2vh;
    padding-bottom: 1vh;

    margin-right: 2vw;
    padding-right: 2vw;


  }


/* drink list on Bar page */
.drink-list {
    text-align: center;
}


/* Ticket Shop Form */
input {
    width: 88%;
    border-width: 3px;
    border-color: #6B9C7F;
    border-style: solid;
    background-color: #FFEDCB;

    padding: 1rem;
    margin-top: 1rem;
    font-size: 17px;


  }
select {
    width: 100%;
    border-width: 3px;
    border-color: #6B9C7F;
    border-style: solid;
    background-color: #FFEDCB;

    padding: 1rem;
    margin-top: 1rem;
    font-size: 17px;
}
button {
    width: 100%;
    background-color: #6B9C7F;
    color: white;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 17px;
}

/* Title Box Homepage */
.home-title-box {
    line-height: 1;
    width: 85vw;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEDCB;
    border-style: solid;
    border-width: 1vw;
    border-color: #6B9C7F;
    font-size: 110px;
}
.home-title-flex {
    display: flex;
}
.soonw-festiv {
    margin-left: 3vw;
    margin-top: 1vh;
    text-align: left;
    font-size: 40px;
}
.date1 {
    text-align: right;
}
.date2 {
    margin-top: 1vh;
    margin-left: 12vw;
}



